body{
    background:#f0efeb;
    width: 100%;
}
h1{
    color:blue;
}
h2{
    color: #1460aa;
}


.green-header{
    color:green;
}
#top{
    background:lightcyan;
}
a{
    color:#7deca2;
    margin: 3px;
    
}
nav a{color:royalblue;
}
.main-navigation {
    background:rgba(47, 189, 146, 1.0);
    width: 100%;
    
    top: 3px;

    position: sticky;
    padding: 15px;
    text-align: center;

}
.footer {
    color:#6633cc;
    width: 800px;
    padding:10px 5px 5px 10px;
    margin: 0 auto;

}
.turcus-header{
    color:#006666;
}
.background{
    background:	#dedede;
}
.red-header{
    color:#cc0000;
}
.box {
    width: 800px;
    padding:10px 5px 5px 10px;
    margin: 0 auto;


}

.box img {
    max-width: 100%;
}